{% extends 'base.html' %}
{% block content %}
<h1>Event</h1>
<table class='table'>
 <tr>
     <th>Event Title</th>
     <th>Location</th>
     <th>Date</th>
     <th>Time</th>
     <th>User ID</th>
     <th>Description</th>
 </tr>
 {% for p in event_list %}

 <tr>
        <td>{{ p.eventTitle }}</td>
        <td> {{p.location }}</td>
        <td> {{p.date }}</td>
        <td> {{p.time }}</td>
        <td> {{p.userID }}</td>
         <td> {{p.description }}</td>

    </tr>

 {% endfor %}


</table>


{% endblock %}
