{% extends 'base.html' %}
{% block content %}
<h1>Resource</h1>
<table class='table'>
 <tr>
     <th>Resource Name</th>
     <th>Resource Type</th>
     <th>URL</th>
     <th>Date Entered</th>
     <th>User ID</th>
     <th>Description</th>
 </tr>
 {% for p in resource_list %}

 <tr>
        <td><a href="{% url 'resourceName' id=p.id %}">{{ p.resourceType }}</a></td>
        <td> {{p.url }}</td>
        <td> {{p.dateEntered }}</td>
        <td> {{p.usdrID }}</td>
         <td> {{p.description }}</td>

    </tr>

 {% endfor %}


</table>


{% endblock %}
