{% extends 'base.html' %}
{% block content %}
<h1>Meeting Types</h1>
<table class='table'>
 <tr>
     <th>Meeting Title</th>
     <th>Meeting Date</th>
     <th>Meeting TIme</th>
     <th>Location</th>
     <th>Agenda</th>
 </tr>
 {% for p in type_list %}

 <tr>
        <td><a href="{% url 'meetingdetail' id=p.id %}">{{ p.title }}</a></td>
        <td> {{p.meetingdate }}</td>
        <td> {{p.meetingtime }}</td>
        <td> {{p.location }}</td>
         <td> {{p.agenda }}</td>

    </tr>

 {% endfor %}


</table>


{% endblock %}